/* font-family: 'M PLUS 1p', sans-serif;
   */
   @import "about.css";
   @import "basket.css";
   @import "order.css";
   @import "basket.css";
   @import "form.css";
   @import "routers.css";
   *{
       margin: 0;
       padding: 0;
       list-style: none;
       text-decoration: none!important;
       box-sizing: border-box;
       font-style: normal;
       font-family: Montserrat;
   }
   .title{font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: #444148;
    text-align: center;
    }
   .container{
    max-width: 1205px;
    margin: 0 auto;
   }
    /* NAVIGATION */
    .main__nav{
        height: 70px;
        display: flex;
    }
    .nav {
        display: flex;  
        justify-content: space-between;
        margin-top: 25px;
        width: 90%;
    }
    .logo{
        margin-top: 10px;
    }
    .logo__img {
        width: 63px;
        height: 46px;
    }
    .dropdown {
        z-index: 500;
        display: flex;
    }
    .polygon{
        margin-bottom: 3px;
    }
    .dropdown-content {
        padding-top: 23px;
    }
    .drop-link {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #444148;
    }
    .drop-link:hover{
    font-family: Mplus 1p;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #EE3338;
    }
   .dropbtn {
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #444148;
    cursor: pointer;
  }
  .dropbtn:hover{
    color: #444148;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 38px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 260px;
    min-height: 120px;
    margin-left: -20px;
    z-index: 5;
    display: none;
    background-color: #fff;
  }
  .input__block-mobile{
      display: none;
  }
  .dropdown-content a {
    padding: 12px 20px;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown__routers:hover .routers__rout {
    display: block;
  }
  /* .dropdown__routers:hover .dropdown-content-routers{
    display: block;
  } */
  .drop__link-routers{
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #444148;
    cursor: pointer;
    width: 180px;
  }
  .dropdown-content-routers{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    position: absolute;
    min-width: 380px;
    min-height: 270px;
    top: 0px;
    z-index: 55;
    background-color: #fff;
  }
  .routers__rout{
    min-width: 380px;
    min-height: 270px;
    margin-left: 250px;
    top: 10px;
    z-index: 55;
    background-color: #fff;
    display: none;
    margin-top: 0;
    position: absolute;
  }
  /* .dropdown-content-routersOne{
    display: none;
    margin-top: 0;
    position: absolute;
    min-width: 220px;
    min-height: 220px;
    margin-left: 0px;
    top: 70px;
    z-index: 55;
    background-color: #fff;
  } */
  .about__company{
    margin-left: 45px;
    font-family: Mplus 1p;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #444148;
}
.drop__link-routers{
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    text-decoration-line: underline;
    color: #444148;
}
.nav-mobile{
    display: none;
}
.drop__link-routers:hover{
    color: #EE3338;
}
.about__company:hover {
    color: #444148;
}
.menu__right{
    display: flex;
}
.contact{
}
.contact__logo{
    margin-bottom: 5px;
}
.contact__link{
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #444148;
}
.contact__link:hover{
    color: #444148;
}
.search{
    margin-left: 46px;
}
.trash{
    margin-left: 38px;
}
.search__input{
    display: none;
}
.search__input-close{
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.search__input-text{
    width: 453px;
    border: none;
    border-bottom: 0.1px solid #8b8b8b;
}
/* MAIN__HEADER */
.main__header{
    height: 100vh;
    width: 100%;
    background-image: url(../images/Back__fon.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.back__fon{
    z-index: -10;
    height: 90%;
}
.header__texts{
    position: absolute;
    top: 225px;
    left: 146px;
}
.title__header{
    max-width: 722px;
    font-weight: bold;
    font-size: 50px;
    line-height: 101%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 37px;
}
.delivery{
    position: relative;
    display: flex;
}   
.delivery__text{
    padding-left: 13px;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 0;
}
.modem{
    left: 58%;
    bottom: 45px;
    position: absolute;
}
/* SLIDER */
.slider{
    position: relative;
}
.slider .slick-arrow{
    top: 55%;
    z-index: 10;
    position: absolute;
    font-size: 0;
    width: 15px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.slider .slick-arrow.slick-prev{
    background: url(../images/prev.png) 0 0 /100% no-repeat;
    left: 70px;
}
.slider .slick-arrow.slick-next{
    background: url(../images/next.png) 0 0/ 100% no-repeat;
    right:70px;
}
.slider__item{
    position: relative;
}
.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80%;
    left: 45%;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0 10px;
}
.slider .slick-dots button{
    font-size: 0;
    border: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}
.slider .slick-dots li.slick-active button{
    background-color: #EE3338;
    opacity: 0.9;
}
.slick-track{
    display: flex;
    align-items: flex-start;
}
/* SECTION */
.section{

}
.content {
    margin-top: 45px;
    display: flex;
}
.description {
    position: relative;
    width: 375px;
    height: 170px;
}
.desc__img {
   margin-left: 150px;
}
.wifiFirst {
    position: absolute;
    top: 27px;
    left: 176px;
}
.desc__title {
    margin-top: 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #444148;
}
.desc__text {
    max-width: 330px;
    margin-top: 11px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #444148;
}
/* Shares */
.shares {
    margin-top: 70px;
}
.product__block {
    display: flex;
}
.product {
    position: relative;
    display: flex;
}
.product__img {
    width: 285px;
    height: 361px;
}
.sale__img {
    position: absolute;
    top: 130px;
    left: 40px;
}
.sale__text {
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 160px;
    left: 62px;
}
.product__desc {
    width: 234px;
    margin-top: 55px;
    margin-left: 23px;
}
.product__text {
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #444148;
}
.product__textTwo{
    width: 300px;
}
.price__old {
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    text-decoration: line-through;
    color: #BBBBBB;
    margin-bottom: 0;
}
.price__new {
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: #444148;
}
.view {
    display: flex;
    justify-content: space-between;
}
.product__two {
    margin-left: 50px;
    position: relative;
}
.productTwo {
    display: flex;
}
.product__imgTwo {
    margin-top: 50px;
    width: 131px;
    height: 140px;
}
.sale__imgTwo {
    position: absolute;
    top: 35px;
    left: -20px;
}
.sale__imgThree {
    position: absolute;
    top: 205px;
    left: -20px;
}
.sale__textTwo{
    position: absolute;
    top: 50px;
    left: -5px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(15deg);
}
.sale__textThree{
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 232px;
    left: 0;
}
.price__full{
    display: flex;
    justify-content: space-between;
}
.plus{
    margin-top: -10px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    color: #EE3338;
    border: none;
    overflow: hidden;
}
.price__fullTwo{
    width: 260px;
}
/* BESTSELLER */
.bestseller {
    margin-top: 50px;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #333333;
}
.slideBar .slick-arrow{
    top: 55%;
    z-index: 10;
    position: absolute;
    font-size: 0;
    width: 15px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.slideBar .slick-arrow.slick-prev{
    background: url(../images/prevBestseller.png) 0 0 /100% no-repeat;
    left: -65px;
}
.slideBar .slick-arrow.slick-next{
    background: url(../images/nextBestseller.png) 0 0/ 100% no-repeat;
    right:-65px;
}
.slider__item{
    position: relative;
}
.slideBar {
    margin-top: 67px;
}
.best__product {
    margin-left: 30px;
    width: 245px;
}
.bestseller__img {
    width: 245px;
    height: 253px;
}
.bestseller__title {
    margin-top: 13px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #444148;
}
.bestseller__text {
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    max-height: 40px;
    color: #444148;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
}
.deleteText{
    display: none;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 8px 22px;
    background: #EE3338;
    border-radius: 5px;
    border: 0;
    text-transform: uppercase;
}
.deleteText:hover{
    background-color: #fff;
    color: #EE3338;
    border:  #EE3338 1px solid;
}
.bestseller__text:after{
    content: "";
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 70%;
	height: 1.2em;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%);
	pointer-events: none;
}
.bestseller__cost {
    width: 245px;
    justify-content: space-between;
    display: flex;
}
.bestseller__price {
    margin-top: 7px;
}
.bestOne{
    margin-top: 35px;
}
/*FOOTER */
.footer {
    margin-top: 100px;
}
.footer__footer {
    display: flex;
}
.logo__footer{
    width: 63px;
    height: 43px;
}
.footer__text {
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 118.5%;
    text-align: center;
    color: #444148;
    width: 235px;
    height: 39px;
    margin-left: 53px;
    margin-top: 15px;
}
.logo__text{
    display: flex;
}
.contact__footer{
    margin-left: 460px;
    margin-top: 15px;
}
.social__network{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    height: 25px;
    width: 75px;
    margin-left: 47px;
}
/* POPUP */
.popup{
    width: 100%;
    height: 800px;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}
.popup__area{
    position: absolute;
    width: 100%;
    height: 200%;
    top: 0;
    left: 0;
}
.popup:target{
    opacity: 1;
    visibility: visible;
}
.popup__body {
    z-index: 99;
    min-height: 100vh;
    display: flex;
    padding: 150px 0 150px 0 ;
    align-items: center;
    justify-content: center;
}
.popup__content {
    z-index: 99;
    background-color: #fff;
    color: #000;
    width: 100vw;
    height: 850px;
    position: relative;
}
.cancel__block{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5%;
    right: 5%;
}
.cancel__img{
    width: 100%;
    height: 100%;
}
.popup__title {
    margin-top: 25px;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #444148;
}
.popup__slider{
    display: flex;
}
.popup__block{
    margin-top: 24px;
    margin-left: 147px;
}
.popup__img-block{
    width: 442px;
    height: 436px;
}
.popup__img{
    width: 100%;
    height: 100%;
}
.feature {
    width: 633px;
    margin-left: 32px;
}
.popup__feature {
    margin-top: 43px;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #444148;
}
.popup__text-modem {
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #444148;
    max-width: 443px;
}
.feature__title {
    margin-top: 22px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 181.5%;
    color: #444148;
}
.featue__block {
}
.feature__feature {
    display: flex;
}
.feature__text{
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 181.5%;
    color: #444148;
}
.about__feature{
    margin-left: 15px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 181.5%;
    color: #444148;
    max-width: 379px;
}
.avail__feature {
    margin-top: 32px;
    position: relative;
    display: flex;
}
.avail__img {
    border-radius: 50%;
    background: #EE3338;
    width: 22px;
    height: 22px;
}
.avail__imgPolygon {
    position: absolute;
    top: 4px;
    left: 4px;
}
.stock__block {
    margin-left: 9px;
    display: flex;
}
.stock {
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #444148;
}
.stock__colour {
    margin-left: 5px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #444148;
}
.price__feature {
    text-align: right;
}
.price__feature-title {
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
    color: #444148;
}
.price__feature-cost {
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #444148;
}
.on__trash{
    margin-top: 15px;
}
.onTrash {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 14px 22px;
    background: #EE3338;
    border-radius: 5px;
}
.onTrash:hover{
    color: #EE3338;
    background: #FFFFFF;
    border: 2px solid #EE3338;
}
.more{
    margin-top: 71px;
    text-align: center;
}
.more__info{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #EE3338;
    padding: 14px 25px;
    border: 2px solid #EE3338;
    box-sizing: border-box;
    border-radius: 5px;
}
.more__info:hover{
    color: #fff;
    border: #fff;
    background: #EE3338 ;
}
.slide__popup{
    display: flex;
    position: relative;
    width: 430px;
}
.slide__popup-img{
    width: 81px;
    height: 81px;
}
.slide__popup .slick-arrow{
    top: 40%;
    z-index: 10;
    position: absolute;
    font-size: 0;
    width: 10px;
    height: 20px;
    border: none;
    cursor: pointer;
}
.slide__popup .slick-arrow.slick-prev{
    background: url(../images/prevPopup.png) 0 0 /100% no-repeat;
    left: -30px;
}
.slide__popup .slick-arrow.slick-next{
    background: url(../images/nextPopup.png) 0 0/ 100% no-repeat;
    right: -10px ;
}
.formalized {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
}
.formalized:target .form__content{
    transform: perspective(600px) translate(0px, 0%) rotate(0deg);
    opacity: 1;
}
.formalized:target{
    opacity: 1;
    visibility: visible;
}
.form__block {
}
.form__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.form__body {
    min-height: 100%;
    margin: 0 auto;
    max-width: 690px;
    padding: 30px 20px;
}
.form__content {
    background-color: #fff;
    position: relative;
    opacity: 0;
    height: 700px;
    transition: all 0.8s ease 0s;
    transform: perspective(600px) translate(0px, -100%) rotate(45deg);
}
.form__close {
    position: absolute;
    top: 15px;
    right: 15px;
}
.title__form {
    padding-top: 60px;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.01em;
    color: #000000;
    text-align: center;
}
.illustr {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 20%;
}

/* MEDIA SCREEN */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .container{
     max-width: 1005px;
    }
 /* MAIN__HEADER */
 .main__header{
     height: 400px;
     width: 100%;
     background-image: url(../images/Back__fon.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
 }
 .back__fon{
     z-index: -10;
     height: 100%;
 }
 .header__texts{
     position: absolute;
     top: 15%;
     left: 20%;
 }
 .title__header{
     margin-bottom: 5%;
    max-width: 494px;
    font-weight: bold;
    font-size: 30px;
    line-height: 124%;
 }
 .delivery__logo{
     margin-top: 20px;
     width: 40px;
     height: 40px;
 }
 .delivery{
     width: 300px;
     position: relative;
     display: flex;
 }   
 .delivery__text{
     width: 70%;
     font-size: 16px;
 }
 .modem{
     width: 200px;
     height: 200px;
     left: 55%;
     bottom: 25%;
     position: absolute;
 }
 .search__input-text{
     width: 200px;
 }
 /* SLIDER */
 .slider{
     position: relative;
 }
 .slider .slick-arrow{
     top: 40%;
     z-index: 10;
     position: absolute;
     font-size: 0;
     width: 15px;
     height: 30px;
     border: none;
 }
 /* SECTION */
 .content {
     margin-top: 45px;
     display: flex;
 }
 .description {
     position: relative;
     width: 255px;
     height: 170px;
 }
 .desc__img {
    margin-left: 35%;
 }
 .wifiFirst {
     position: absolute;
     top: 27px;
     left: 106px;
 }
 /* Shares */
 .shares {
     margin-top: 70px;
 }
 .product__block {
     margin-left: 50px;
     margin-right: 50px;
     flex-direction: column;
 }
 .product {
     position: relative;
     display: flex;
 }
 .product__two{
     margin-left: 70px;
 }
 /* BESTSELLER */
 .slideBar .slick-arrow{
     top: 55%;
     z-index: 10;
     position: absolute;
     font-size: 0;
     width: 15px;
     height: 30px;
     border: none;
 }
 .slideBar .slick-arrow.slick-prev{
     background: url(../images/prevBestseller.png) 0 0 /100% no-repeat;
     left: -40px;
 }
 .slideBar .slick-arrow.slick-next{
     background: url(../images/nextBestseller.png) 0 0/ 100% no-repeat;
     right:-40px;
 }
 /*FOOTER */
 .footer {
     margin-top: 100px;
 }
 .footer__footer {
     display: flex;
 }
 .logo__footer{
     width: 63px;
     height: 43px;
 }
 .logo__text{
     display: flex;
 }
 .contact__footer{
     margin-left: 10%;
     margin-top: 15px;
 }
 /* POPUP */
 .popup{
     width: 100%;
     height: 800px;
     opacity: 0;
     visibility: hidden;
     position: fixed;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     top: 0;
     left: 0;
     z-index: 10;
     overflow-y: auto;
     overflow-x: hidden;
     transition: all 0.8s ease 0s;
 }
 .popup__area{
     position: absolute;
     width: 100%;
     height: 200%;
     top: 0;
     left: 0;
 }
 .popup:target{
     opacity: 1;
     visibility: visible;
 }
 .popup__body {
     z-index: 99;
     min-height: 100vh;
     display: flex;
     padding: 100px 0 100px 0 ;
     align-items: center;
     justify-content: center;
 }
 .popup__content {
     z-index: 99;
     background-color: #fff;
     color: #000;
     width: 100vw;
     height: 180vh;
 }
 .popup__title {
     margin-top: 25px;
     font-weight: 500;
     font-size: 35px;
     line-height: 43px;
     text-align: center;
     color: #444148;
 }
 .popup__slider{
     flex-direction: column;
 }
 .popup__block{
     margin-top: 24px;
     text-align: center;
     margin-left: 0;
 }
 .popup__img{
     max-width: 502px;
     max-height: 606px;
     margin: 0 auto;
 }
 .feature {
     width: 633px;
     margin: 0 auto;
 }
 .popup__feature {
     margin-top: 43px;
     font-weight: normal;
     font-size: 28px;
     line-height: 34px;
     color: #444148;
 }
 .popup__text-modem {
     font-family: Mplus 1p;
     font-style: normal;
     font-weight: 300;
     font-size: 16px;
     line-height: 24px;
     color: #444148;
     max-width: 443px;
     margin: 0 auto;
 }
 .feature__title {
     margin-top: 22px;
     font-family: Mplus 1p;
     font-style: normal;
     font-weight: 300;
     font-size: 20px;
     line-height: 181.5%;
     color: #444148;
 }
 .featue__block {
 }
 .feature__feature {
     display: flex;
 }
 .feature__text{
     font-family: Mplus 1p;
     font-style: normal;
     font-weight: 300;
     font-size: 16px;
     line-height: 181.5%;
     color: #444148;
 }
 .about__feature{
     margin-left: 15px;
     font-family: Mplus 1p;
     font-style: normal;
     font-weight: 300;
     font-size: 14px;
     line-height: 181.5%;
     color: #444148;
     max-width: 379px;
 }
 .avail__feature {
     margin-top: 32px;
     position: relative;
     display: flex;
 }
 .avail__img {
     border-radius: 50%;
     background: #EE3338;
     width: 22px;
     height: 22px;
 }
 .avail__imgPolygon {
     position: absolute;
     top: 4px;
     left: 4px;
 }
 .stock__block {
     margin-left: 9px;
     display: flex;
 }
 .stock {
     font-family: Mplus 1p;
     font-style: normal;
     font-weight: 300;
     font-size: 16px;
     line-height: 24px;
     color: #444148;
 }
 .stock__colour {
     margin-left: 5px;
     font-family: Mplus 1p;
     font-style: normal;
     font-weight: 300;
     font-size: 16px;
     line-height: 24px;
     color: #444148;
 }
 .price__feature {
     text-align: right;
 }
 .price__feature-title {
     font-family: Mplus 1p;
     font-style: normal;
     font-weight: 300;
     font-size: 25px;
     line-height: 37px;
     color: #444148;
 }
 .price__feature-cost {
     font-weight: normal;
     font-size: 28px;
     line-height: 34px;
     color: #444148;
 }
 .on__trash{
     margin-top: 15px;
 }
 .onTrash {
     font-weight: 500;
     font-size: 16px;
     line-height: 20px;
     color: #FFFFFF;
     padding: 14px 22px;
     background: #EE3338;
     border-radius: 5px;
 }
 .onTrash:hover{
     color: #EE3338;
     background: #FFFFFF;
     border: 2px solid #EE3338;
 }
 .more{
     margin-top: 71px;
     text-align: center;
 }
 .more__info{
     font-weight: 500;
     font-size: 16px;
     line-height: 20px;
     color: #EE3338;
     padding: 14px 25px;
     border: 2px solid #EE3338;
     box-sizing: border-box;
     border-radius: 5px;
 }
 .more__info:hover{
     color: #fff;
     border: #fff;
     background: #EE3338 ;
 }
 .slide__popup{
     display: flex;
     position: relative;
     width: 430px;
     margin: 0 auto;
 }
 .slide__popup-img{
     width: 81px;
     height: 81px;
 }
 .slide__popup .slick-arrow{
     top: 40%;
     z-index: 10;
     position: absolute;
     font-size: 0;
     width: 10px;
     height: 20px;
     border: none;
     cursor: pointer;
 }
 .slide__popup .slick-arrow.slick-prev{
     background: url(../images/prevPopup.png) 0 0 /100% no-repeat;
     left: -30px;
 }
 .slide__popup .slick-arrow.slick-next{
     background: url(../images/nextPopup.png) 0 0/ 100% no-repeat;
     right: -10px ;
 }
 .cancel__block{
     top: 3%;
 }
}
@media only screen and (min-width: 480px) and (max-width: 768px){
    .container{
        max-width: 100%;
       }
       .drop-link{
           font-size: 14px;
       }
       .drop__link-routers{
           font-size: 12px;
       }
    /* MAIN__HEADER */
    .main__header{
        height: 350px;
        width: 100%;
        background-image: url(../images/Back__fon.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    .back__fon{
        z-index: -10;
        height: 100%;
    }
    .header__texts{
        position: absolute;
        top: 15%;
        left: 6%;
    }
    .contact{
        display: none;
    }
    .main__nav{
        width: 500px;
    }
    .nav{
        width: 500px;
        justify-content: start;
    }
    .contact{
        margin-left: 15px;
    }
    .title__header{
        margin-bottom: 2%;
       max-width: 494px;
       font-weight: bold;
       font-size: 18px;
       line-height: 124%;
       text-align: center;
    }
    .delivery__logo{
        margin-top: 0px;
        width: 30px;
        height: 30px;
    }
    .delivery{
        width: 400px;
        position: relative;
        display: flex;
        margin-left: 100px;
    }   
    .delivery__text{
        width: 70%;
        font-size: 12px;
    }
    .modem{
        width: 180px;
        height: 180px;
        left: 27%;
        bottom: 20%;
        position: absolute;
    }
    .dropbtn,  .about__company, .contact__link {
        font-size: 14px;
    }
    .dropdown-content{
        top: 40px;
        margin-left: -120px;
    }
    .dropdown-content-routers{
    }
    .routers__rout{
        margin-top: -5px;
        min-width: 180px;
    }
    .about__company{
        margin-left: 20px;
        display: none;
    }
    .search__input-text{
        width: 150px;
        font-size: 12px;
    }
    .search__input{
        margin-left: 40px;
    }
    /* SLIDER */
    .slider{
        position: relative;
    }
    .slider .slick-arrow{
        top: 40%;
        z-index: 10;
        position: absolute;
        font-size: 0;
        width: 12px;
        height: 24px;
        border: none;
    }
    .slider .slick-arrow.slick-prev{
        background: url(../images/prev.png) 0 0 /100% no-repeat;
        left: 30px;
    }
    .slider .slick-arrow.slick-next{
        background: url(../images/next.png) 0 0/ 100% no-repeat;
        right:30px;
    }
    .slider .slick-dots{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 80%;
        left: 45%;
    }
    .slider .slick-dots li{
        list-style: none;
        margin: 0 8px;
    }
    .slider .slick-dots button{
        font-size: 0;
        border: none;
        width: 8px;
        height: 8px;
        background-color: #fff;
        border-radius: 50%;
    }
    .slider .slick-dots li.slick-active button{
        background-color: #EE3338;
        opacity: 0.9;
    }
    .slick-track{
        display: flex;
        align-items: flex-start;
    }
    /* SECTION */
    .content {
        margin-top: 45px;
        display: flex;
    }
    .description {
        position: relative;
        width: 255px;
        height: 170px;
    }
    .desc__img {
       margin-left: 35%;
    }
    .wifiFirst {
        position: absolute;
        top: 27px;
        left: 84px;
    }
    .desc__title{
        font-size: 18px;
    }
    .desc__text{
        font-size: 14px;
    }
    /* Shares */
    .shares {
        margin-top: 150px;
    }
    .product__block {
        margin-left: 50px;
        margin-right: 50px;
        flex-direction: column;
    }
    .product {
        position: relative;
        display: flex;
    }
    .product__two{
        margin-left: 70px;
    }
    .product__img{
        width: 220px;
        height: 200px;
    }
    .product__desc{
        margin-top: 20px;
    }
    .product__text{
        font-size: 14px;
    }
    .price__old{
        font-size: 18px;
    }
    .price__new{
        font-size: 22px;
    }
    .sale__img{
        top: 0;
    }
    .sale__text{
        top: 28px;
    }
    .product__desc {
        width: 162px;
    }
    .product__textTwo {
        width: 164px;
    }
    .price__fullTwo {
        width: 161px;
    }
    /* BESTSELLER */
    .bestseller__img {
        margin: 0 auto;
        width: 195px;
        height: 203px;
    }
    .slideBar .slick-arrow{
        top: 55%;
        z-index: 10;
        position: absolute;
        font-size: 0;
        width: 15px;
        height: 30px;
        border: none;
    }
    .bestseller__title{
        text-align: center;
        font-size: 22px;
    }
    .best__product{
        width: 190px;
    }
    .deleteText{
        display: none!important; 
    }
    .bestseller__text{
        font-size: 14px;
        width: 255px;
        max-height: 400px!important;
        margin: 0 auto;
        text-align: center;
    }
    .bestseller__price{
        font-size: 18px;
    }
    .bestseller__cost{
        margin: 0 auto;
        margin-top: 15px;
        width: 245px;
    }
    .slideBar .slick-arrow.slick-prev{
        background: url(../images/prevBestseller.png) 0 0 /100% no-repeat;
        left: 40px;
    }
    .slideBar .slick-arrow.slick-next{
        background: url(../images/nextBestseller.png) 0 0/ 100% no-repeat;
        right: 40px;
    }
    .best__product {
        margin-left: 15px;
        margin-right: 15px;
    }
    .formalized {
        position: fixed;
        width: 80%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        top: 0;
        left: 10%;
        opacity: 0;
        visibility: hidden;
        overflow-x: hidden;
    }
    .formalized:target .form__content{
        transform: perspective(600px) translate(0px, 0%) rotate(0deg);
        opacity: 1;
    }
    .formalized:target{
        opacity: 1;
        visibility: visible;
    }
    .form__block {
    }
    .form__area {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .form__body {
        min-height: 100%;
        margin: 0 auto;
        max-width: 690px;
        padding: 30px 20px;
    }
    .form__content {
        background-color: #fff;
        position: relative;
        opacity: 0;
        height: 700px;
        transition: all 0.8s ease 0s;
        transform: perspective(600px) translate(0px, -100%) rotate(45deg);
    }
    .form__close {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .title__form {
        padding-top: 60px;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.01em;
        color: #000000;
        text-align: center;
    }
    .illustr {
        padding-top: 100px;
        padding-bottom: 100px;
        margin-left: 20%;
    }
    /*FOOTER */
    .footer {
        margin-top: 100px;
    }
    .footer__footer {
        display: flex;
    }
    .logo__footer{
        width: 63px;
        height: 43px;
    }
    .logo__text{
        display: flex;
    }
    .contact__footer{
        margin-left: 5%;
        margin-top: 15px;
    }
    .footer__text{
        margin-left: 25px;
        width: 140px;
        font-size: 13px;
    }
    .social__network{
        margin-left: 25px;
    }
    .popup{
        width: 100%;
        height: 800px;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        z-index: 10;
        overflow-y: auto;
        overflow-x: hidden;
        overscroll-behavior: contain;
        transition: all 0.8s ease 0s;
    }
    .popup__area{
        display: none;
    }
    .popup:target{
        opacity: 1;
        visibility: visible;
    }
    .popup__body {
        z-index: 99;
        min-height: 100vh;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    .popup__content {
        z-index: 99;
        background-color: #fff;
        color: #000;
        width: 100vw;
        height: 1300px;
    }
    .popup__title {
        margin-top: 25px;
        font-weight: 500;
        font-size: 35px;
        line-height: 43px;
        text-align: center;
        color: #444148;
    }
    .popup__slider{
        flex-direction: column;
    }
    .popup__block{
        margin-top: 24px;
        text-align: center;
        margin-left: 0;
    }
    .popup__img{
        max-width: 352px;
        max-height: 456px;
        margin: 0 auto;
    }
    .feature {
        width: 633px;
        margin: 0 auto;
    }
    .popup__feature {
        margin-top: 43px;
        font-weight: normal;
        font-size: 28px;
        line-height: 34px;
        color: #444148;
    }
    .popup__text-modem {
        font-family: Mplus 1p;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #444148;
        max-width: 443px;
        margin: 0 auto;
    }
    .feature__title {
        margin-top: 22px;
        font-family: Mplus 1p;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 181.5%;
        color: #444148;
    }
    .feature__feature {
        display: flex;
    }
    .feature__text{
        font-family: Mplus 1p;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 181.5%;
        color: #444148;
    }
    .about__feature{
        margin-left: 15px;
        font-family: Mplus 1p;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 181.5%;
        color: #444148;
        max-width: 379px;
    }
    .avail__feature {
        margin-top: 32px;
        position: relative;
        display: flex;
    }
    .avail__img {
        border-radius: 50%;
        background: #EE3338;
        width: 22px;
        height: 22px;
    }
    .avail__imgPolygon {
        position: absolute;
        top: 4px;
        left: 4px;
    }
    .stock__block {
        margin-left: 9px;
        display: flex;
    }
    .stock {
        font-family: Mplus 1p;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #444148;
    }
    .stock__colour {
        margin-left: 5px;
        font-family: Mplus 1p;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #444148;
    }
    .price__feature {
        text-align: center;
    }
    .price__feature-title {
        font-family: Mplus 1p;
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 37px;
        color: #444148;
    }
    .price__feature-cost {
        font-weight: normal;
        font-size: 28px;
        line-height: 34px;
        color: #444148;
    }
    .on__trash{
        margin-top: 15px;
    }
    .onTrash {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 14px 22px;
        background: #EE3338;
        border-radius: 5px;
    }
    .onTrash:hover{
        color: #EE3338;
        background: #FFFFFF;
        border: 2px solid #EE3338;
    }
    .more{
        margin-top: 71px;
        text-align: center;
    }
    .more__info{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #EE3338;
        padding: 14px 25px;
        border: 2px solid #EE3338;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .more__info:hover{
        color: #fff;
        border: #fff;
        background: #EE3338 ;
    }
    .slide__popup{
        display: flex;
        position: relative;
        width: 430px;
        margin: 0 auto;
    }
    .slide__popup-img{
        width: 81px;
        height: 81px;
    }
    .slide__popup .slick-arrow{
        top: 40%;
        z-index: 10;
        position: absolute;
        font-size: 0;
        width: 10px;
        height: 20px;
        border: none;
        cursor: pointer;
    }
    .slide__popup .slick-arrow.slick-prev{
        background: url(../images/prevPopup.png) 0 0 /100% no-repeat;
        left: -50px;
    }
    .slide__popup .slick-arrow.slick-next{
        background: url(../images/nextPopup.png) 0 0/ 100% no-repeat;
        right: -30px ;
    }
    .cancel__block{
        top: 3%;
    }
    .formalized {
        position: fixed;
        width: 80%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        top: 0;
        left: 10%;
        opacity: 0;
        visibility: hidden;
        overflow-x: hidden;
        z-index: 999;
    }
    .formalized:target .form__content{
        transform: perspective(600px) translate(0px, 0%) rotate(0deg);
        opacity: 1;
    }
    .formalized:target{
        opacity: 1;
        visibility: visible;
    }
    .form__area {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .form__body {
        min-height: 100%;
        margin: 0 auto;
        max-width: 590px;
        padding: 30px 20px;
    }
    .form__content {
        background-color: #fff;
        position: relative;
        opacity: 0;
        height: 700px;
        transition: all 0.8s ease 0s;
        transform: perspective(600px) translate(0px, -100%) rotate(45deg);
    }
    .form__close {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .title__form {
        padding-top: 60px;
        font-size: 30px;
        line-height: 44px;
        letter-spacing: 0.01em;
        color: #000000;
        text-align: center;
    }
    .illustr {
        padding-top: 100px;
        padding-bottom: 100px;
        margin-left: 20%;
        width: 300px;
    }
} 
@media only screen and (min-width: 320px) and (max-width: 480px){
    .container{
        max-width: 80%;
       }
       .input__block-mobile{
           display: block;
           margin-top: 5%;
           margin-bottom: 5%;
           text-align: center;
       }
       .search__mobile{
           margin-left: 25px;
           padding: 1px 15px;
          border: 0.5px solid #444148;
       }
       .search__img-mobile{
           margin-left: 5px;
       }
       .drop-link{
           font-size: 14px;
       }
       .drop__link-routers{
           font-size: 12px;
       }
       .menu__right{
           display: none;
       }
       .about__company{
           display: none;
       }
       .logo{
           margin-left: 35%;
       }
    .nav-mobile{
        display: block;
        position: absolute;
        width: 30px;
        top: 10px;
        left: 0%;
    }
    input#toggle{
        display: none;
    }
    .toggle{
        display: block;
        z-index: 105;
        position: absolute;
        left: 160%;
        background-color: fff;
        padding-top: 5px;
        cursor: pointer;
    }
    .toggle span{
        z-index: 105;
        display: block;
        width: 30px;
        height: 1px;
        background-color: #000;
        margin: 10px 0;
    }
    .menu_mobile{
        background: #fff;
        display: none;
        width: 100vw;
        height: 50vh;
        z-index: 105;
        position: relative;
        top: 55px;
    }
    label{
        margin: 0 40px 0 0 ;
        display: none;
    }
    #toggle{
        left: -40%;
        position: absolute;
        top: -10%;
        display: block;
        cursor: pointer;
    }
    .ul-mobile{
    position: absolute;
    top: 0;
    left: 30%;
    }
    #toggle:checked+ .menu_mobile{
        display: block;
    }
    li{
        text-align: center;
        margin-top: 30px;
    }
    .nav__link-mobile{
        font-size: 20px;
        text-align: center;
        color: #444148;
        margin-top: 10%;
        text-decoration: none;
    }
    .logo__mobile{
        margin-top: 50px;
        margin-left: 30%;
    }
    .dropdown {
        display: flex;
        }
        .polygon{
            margin-bottom: 3px;
        }
        .dropdown-content {
            padding-top: 23px;
        }
        .drop-link {
        font-weight: 300;
        font-size: 14px;
        line-height: 28px;
        color: #444148;
        }
        .drop-link:hover{
        font-family: Mplus 1p;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #EE3338;
        }
        .dropbtn {
        font-family: Mplus 1p;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #444148;
        cursor: pointer;
        }
        .dropbtn:hover{
        color: #444148;
        }
        .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 38px;
        }
        .dropdown-content {
        display: none;
        position: absolute;
        max-width: 175px;
        min-height: 140px;
        margin-left: -50px;
        margin-top: 15px;
        z-index: 5;
        background-color: #fff;
        }
        .dropdown-content a {
        padding: 8px 18px;
        text-decoration: none;
        display: block;
        }
        .dropdown:hover .dropdown-content {
        display: block;
        }
        .dropdown__routers:hover .dropdown-content-routers {
        display: block;
        }
        /* .dropdown__routers:hover .dropdown-content-routersOne{
        display: block;
        } */
        .drop__link-routers{
        font-family: Mplus 1p;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        color: #444148;
        cursor: pointer;
        }
        .dropdown-content-routers{
        display: none;
        margin-top: 0;
        position: absolute;
        min-width: 200px;
        min-height: 270px;
        margin-left: -440px;
        top: 0px;
        z-index: 55;
        background-color: #fff;
        }
        .drop__link__rout{
            margin-top: 20px;
        }
        /* .dropdown-content-routersOne{
        display: none;
        margin-top: 0;
        position: absolute;
        min-width: 177px;
        min-height: 200px;
        margin-left: 0px;
        top: 70px;
        z-index: 55;
        background-color: #fff;
        } */
        /* MAIN__HEADER */
        .main__header{
            height: 350px;
            width: 100%;
            background-image: url(../images/Back__fon.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
        }
        .back__fon{
            z-index: -10;
            height: 80%;
        }
        .header__texts{
            position: absolute;
            top: 15%;
            left: 6%;
        }
        .title__header{
            margin-bottom: 2%;
        max-width: 344px;
        font-weight: bold;
        font-size: 18px;
        line-height: 124%;
        text-align: center;
        }
        .delivery__logo{
            margin-top: 0px;
            width: 20px;
            height: 20px;
        }
        .delivery{
            margin-top: 0;
            width: 500px;
            position: relative;
            display: flex;
            margin-left: 50px;
        }   
        .delivery__text{
            line-height: 20px;
            width: 50%;
            font-size: 12px;
        }
        .modem{
            width: 140px;
            height: 150px;
            left: 27%;
            bottom: 20%;
            position: absolute;
        }
        .dropbtn,  .about__company, .contact__link {
            font-size: 14px;
        }
        .about__company{
            margin-left: 20px;
        }
        /* SLIDER */
        .slider{
            position: relative;
        }
        .slider .slick-arrow{
            top: 40%;
            z-index: 10;
            position: absolute;
            font-size: 0;
            width: 15px;
            height: 30px;
            border: none;
        }
        .slider .slick-arrow.slick-prev{
            background: url(../images/prev.png) 0 0 /100% no-repeat;
            left: 30px;
        }
        .slider .slick-arrow.slick-next{
            background: url(../images/next.png) 0 0/ 100% no-repeat;
            right:30px;
        }
        .slider .slick-dots{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 75%;
            left: 43%;
        }
        .slider .slick-dots li{
            list-style: none;
            margin: 0 8px;
        }
        .slider .slick-dots button{
            font-size: 0;
            border: none;
            width: 7px;
            height: 7px;
            background-color: #fff;
            border-radius: 50%;
        }
        .slider .slick-dots li.slick-active button{
            background-color: #EE3338;
            opacity: 0.9;
        }
        .slick-track{
            display: flex;
            align-items: flex-start;
        }
        /* SECTION */
        .content {
            margin-top: 45px;
            flex-direction: column;
            margin-left: 5%;
        }
        .description {
            position: relative;
            width: 255px;
            height: 170px;
            margin-top: 20%;
        }
        .desc__img {
        margin-left: 35%;
        }
        .wifiFirst {
            position: absolute;
            top: 27px;
            left: 115px;
        }
        .desc__title{
            font-size: 18px;
        }
        .desc__text{
            font-size: 14px;
        }
        /* Shares */
        .shares {
            margin-top: 150px;
        }
        .product__block {
            margin-left: 10px;
            margin-right: 10px;
            flex-direction: column;
        }
        .product {
            position: relative;
            display: flex;
        }
        .product__two{
            margin-left: 10px;
        }
        .product__img{
            margin-top: 50px;
            width: 110px;
            height: 110px;
            display: block;
        }
        .product__imgTwo{
            margin-top: 50px;
            width: 110px;
            height: 110px;
            display: block;
        }
        .product__desc{
            margin-top: 20px;
        }
        .product__text{
            font-size: 12px;
        }
        .price__old{
            font-size: 16px;
        }
        .price__new{
            font-size: 20px;
        }
        .sale__img{
            top: 35px;
            left: -20px;
        }
        .sale__text{
            top: 65px;
            left: 6px;
        }
        .product__desc {
            width: 162px;
        }
        .product__textTwo {
            width: 120px;
        }
        .price__fullTwo {
            width: 120px;
        }
        .plus{
            margin-top: -20px;
        }
        /* BESTSELLER */
        .slideBar{
            width: 100%;
            max-height: 680px;
        }
        .bestseller__img {
            margin: 0 auto;
            width: 150px;
            height: 160px;
            margin-bottom: 15px;
        }
        .slideBar .slick-arrow{
            top: 55%;
            z-index: 10;
            position: absolute;
            font-size: 0;
            width: 15px;
            height: 30px;
            border: none;
        }
        .bestseller__title{
            text-align: center;
            font-size: 16px;
            max-width: 140px;
            margin: 0 auto;
        }
        .bestseller__text{
            font-size: 14px;
            width: 225px;
            max-height: 500px!important;
            margin-top: 25px;
            text-align: center;
        }
        .deleteText{
            display:none!important;
        }
        .bestseller__price{
            font-size: 18px;
        }
        .bestseller__cost{
            margin: 0 auto;
            margin-top: 15px;
            width: 200px;
        }
        .slideBar .slick-arrow {
            top: 40%;
            z-index: 10;
            position: absolute;
            font-size: 0;
            width: 10px;
            height: 20px;
        }
        .slideBar .slick-arrow.slick-prev{
            background: url(../images/prevBestseller.png) 0 0 /100% no-repeat;
            left: 0;
        }
        .slideBar .slick-arrow.slick-next{
            background: url(../images/nextBestseller.png) 0 0/ 100% no-repeat;
            right: 0;
        }
        .best__product {
            margin-left: 15px;
            margin-right: 15px;
        }
        /*FOOTER */
        .footer {
            border-top: 0.5px #444148 solid;
            margin-top: 50px;
        }
        .footer__footer {
            margin-top: 15px;
            flex-direction: column;
        }
        .logo__footer{
            width: 63px;
            height: 43px;
            text-align: center;
            margin: 0 auto;
        }
        .logo__text{
            flex-direction: column;
        }
        .contact__footer{
            margin-left: 22%;
            margin-top: 5px;
        }
        .footer__text{
            text-align: center;
            margin-top: 25px;
            margin-left: 10px;
            width: 240px;
            font-size: 14px;
        }
        .social__network{
            margin-left: 25%;
            width: 120px;
        }
        .popup{
            width: 100%;
            height: 800px;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            top: 0;
            left: 0;
            z-index: 999;
            overflow-y: auto;
            overflow-x: hidden;
            overscroll-behavior: contain;
            transition: all 0.8s ease 0s;
        }
        .popup__area{
            display: none;
        }
        .popup:target{
            opacity: 1;
            visibility: visible;
        }
        .popup__body {
            z-index: 99;
            min-height: 120vh;
            display: flex;
            padding: 0;
            align-items: center;
            justify-content: center;
        }
        .popup__content {
            z-index: 99;
            background-color: #fff;
            color: #000;
            width: 100vw;
            min-height: 1580px;
        }
        .popup__title {
            margin-top: 25px;
            font-weight: 500;
            font-size: 28px;
            line-height: 43px;
            text-align: left;
            margin-left: 15px;
            color: #444148;
        }
        .popup__slider{
            flex-direction: column;
        }
        .popup__block{
            margin-top: 24px;
            text-align: center;
            margin-left: 0;
        }
        .popup__img{
            max-width: 252px;
            max-height: 306px;
            margin: 0 auto;
        }
        .feature {
            width: 300px;
            margin: 0 auto;
        }
        .popup__feature {
            margin-top: 43px;
            font-weight: normal;
            font-size: 22px;
            line-height: 20px;
            color: #444148;
        }
        .popup__text-modem {
            font-family: Mplus 1p;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            color: #444148;
            max-width: 300px;
            margin: 0;
        } 
        .feature__title {
            margin-top: 22px;
            font-family: Mplus 1p;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 181.5%;
            color: #444148;
        }
        .feature__feature {
            display: flex;
        }
        .feature__text{
            font-family: Mplus 1p;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 181.5%;
            color: #444148;
        }
        .about__feature{
            margin-left: 15px;
            font-family: Mplus 1p;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 181.5%;
            color: #444148;
            max-width: 379px;
        }
        .avail__feature {
            margin-top: 32px;
            position: relative;
            display: flex;
        }
        .avail__img {
            border-radius: 50%;
            background: #EE3338;
            width: 22px;
            height: 22px;
        }
        .avail__imgPolygon {
            position: absolute;
            top: 4px;
            left: 4px;
        }
        .stock__block {
            margin-left: 9px;
            display: flex;
        }
        .stock {
            font-family: Mplus 1p;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #444148;
        }
        .stock__colour {
            margin-left: 5px;
            font-family: Mplus 1p;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #444148;
        }
        .price__feature {
            text-align: center;
        }
        .price__feature-title {
            font-family: Mplus 1p;
            font-style: normal;
            font-weight: 300;
            font-size: 25px;
            line-height: 37px;
            color: #444148;
        }
        .price__feature-cost {
            font-weight: normal;
            font-size: 28px;
            line-height: 34px;
            color: #444148;
            margin-bottom: 25px;
        }
        .on__trash{
            margin-top: 15px;
        }
        .onTrash {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            padding: 14px 22px;
            background: #EE3338;
            border-radius: 5px;
        }
        .onTrash:hover{
            color: #EE3338;
            background: #FFFFFF;
            border: 2px solid #EE3338;
        }
        .more{
            margin-top: 71px;
            text-align: center;
        }
        .more__info{
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #EE3338;
            padding: 14px 25px;
            border: 2px solid #EE3338;
            box-sizing: border-box;
            border-radius: 5px;
        }
        .more__info:hover{
            color: #fff;
            border: #fff;
            background: #EE3338 ;
        }
        .slide__popup{
            display: flex;
            position: relative;
            width: 220px;
            margin: 0 auto;
        }
        .slide__popup-img{
            width: 81px;
            height: 81px;
            margin-left: 15px;
        }
        .slide__popup .slick-arrow{
            top: 40%;
            z-index: 10;
            position: absolute;
            font-size: 0;
            width: 10px;
            height: 20px;
            border: none;
            cursor: pointer;
        }
        .slide__popup .slick-arrow.slick-prev{
            background: url(../images/prevPopup.png) 0 0 /100% no-repeat;
            left: -20px;
        }
        .slide__popup .slick-arrow.slick-next{
            background: url(../images/nextPopup.png) 0 0/ 100% no-repeat;
            right: -20px ;
        }
        .cancel__block{
            top: 2.5%;
        }
        .formalized {
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            overflow-x: hidden;
            z-index: 999;
        }
        .formalized:target .form__content{
            transform: perspective(600px) translate(0px, 0%) rotate(0deg);
            opacity: 1;
        }
        .formalized:target{
            opacity: 1;
            visibility: visible;
        }
        .form__block {
        }
        .form__area {
      display: none;
        }
        .form__body {
            width: 100%;
            padding-top: 20px;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }
        .form__content {
            background-color: #fff;
            position: relative;
            opacity: 0;
            height: 500px;
            transition: all 0.8s ease 0s;
            transform: perspective(600px) translate(0px, -100%) rotate(45deg);
        }
        .form__close {
            position: absolute;
            top: 15px;
            right: 15px;
        }
        .title__form {
            padding-top: 60px;
            font-size: 20px;
            line-height: 44px;
            letter-spacing: 0.01em;
            color: #000000;
            text-align: center;
        }
        .illustr {
            padding-top: 20px;
            padding-bottom: 40px;
            margin-left: 5%;
            width: 240px;
        }
    }
.ball{
       border-radius: 29px;
    background-color: #ee3338;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    color: white;
    margin: 0px 0px 20px 0px;}
