{%extends 'base_admin.html'%}
{%load static%}
{%block body%}
<h4 class="text-center">Каталог</h4>
<div class="text-center" >
    <form action="{%url 'catalogs'%}" method="post">
        {%csrf_token%}
        <input type="text" name="title">
        <input type="submit" value="создать">
    </form>
</div>
<ul class="list-group">

    {%if catalogs%}
    {%for catalog in catalogs%}
    <li class="list-group-item">

        <div><a href="{%url 'getCatalog' catalog.id%}">{{catalog.title}}</a>
        </div>
        <div class="text-right">
            <a href="{%url 'deleteCatalog' catalog.id%}">
                <button type="button" class="btn btn-danger btn-sm">удалить</button>
            </a></div>
    </li>
    {%endfor%}
    {%endif%}
</ul>


{%endblock%}

