{%extends 'base_admin.html'%}
{%load static%}
{%block body%}
<h4 class="text-center">{{category.category}}</h4>
{%if category%}
{%for product in category.product_set.all%}
<div class="container-fluid" style="margin-bottom: 2%">
    <div class="border border-secondary">
        <a href="{%url 'detailProduct' product.id%}">
            <div class="product">
                <img src="{{product.album_set.all.0.photo.url}}" alt="" class="img-thumbnail">

                <div class="container-fluid">

                    <div>{{product.title}}</div>

                    <div>{{product.price}}₽</div>

                </div>
            </div>
        </a>
    </div>
</div>
{%endfor%}
{%endif%}
<style>
.product img{
        width: 20%;
    }






</style>
{%endblock%}
