{%extends 'base_admin.html'%}
{%load static%}
{%block body%}
<div class="container-fluid">
    <h1 class="text-center">Категории</h1>
    <form action="{%url 'createCategory'%}" method="post" class="text-right">
        {% csrf_token %}
        <input type="text" name='category' placeholder="создать">
        <input type="submit">
    </form>
    <hr>
    <div>
        {%if categories%}
        {%for category in categories%}
        <a href="{%url 'category_set' category.id%}"><h4>{{category.category}}</h4></a>
        <a href="{%url 'CategoryDelete' category.id%}">
            удалить
        </a>

        {%endfor%}
        {%endif%}
    </div>
</div>
{%endblock%}
