{%extends 'base_admin.html'%}
{%load static%}
{%block body%}
{%if customers%}
<h3 class="list-group-item active" >все заказы</h3>
<div class="container-fluid">
    {%for customer in customers%}
    <div class="customer">
        <div class="container-fluid">
            <a href="{%url 'order' customer.id%}">
                <div>дата заказа:{{customer.order_date}}</div>
                <div>Имя:{{customer}}</div>
                <div>email:{{customer.Email}}</div>

            </a>
        </div>
    </div>
    {%endfor%}
</div>
{%endif%}
<style>
    .customer{
    background-color: lightsteelblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

</style>
{%endblock%}
