{%extends 'base_admin.html'%}
{%load static%}
{%block body%}
{%if catalog%}
<h4 class="text-center">{{catalog.title}}</h4>
<div class="text-center" >
    <form action="{%url 'getCatalog' catalog.id%}" method="post">
        {%csrf_token%}
        <input type="text" name='category'>
        <input type="submit" value="создать">
    </form>
</div>
<ul class="list-group">
    {%for category in catalog.category_set.all%}
    <li class="list-group-item"><a href="{%url 'detailCategory' category.id%}">{{category.category}}</a>

        <div class="text-right">
            <a href="{%url 'deleteCategory' category.id%}">
                <button type="button" class="btn btn-danger btn-sm">удалить</button>
            </a></div>

    </li>

</ul>

{%endfor%}
{%endif%}
{%endblock%}
