{%extends 'base_admin.html'%}
{%load static%}
{%block body%}
{%if catalog%}
<ul class="list-group">
    <li class="list-group-item active"><h1 class="text-center">{{catalog.title}}</h1></li>
    <li class="list-group-item active">
        <form action="{%url 'getCatalog' catalog.id%}" method="post">
            {%csrf_token%}
            <input type="text" name='category'>
            <input type="submit" value="создать">
        </form>
    </li>
    {%for category in catalog.category_set.all%}
    <li class="list-group-item"><a href="{%url 'detailCategory' category.id%}">{{category.category}}</a>

        <div class="text-right">
            <a href="{%url 'deleteCategory' category.id%}">
                <button type="button" class="btn btn-danger btn-sm">удалить</button>
            </a></div>

    </li>

</ul>

{%endfor%}
{%endif%}
{%endblock%}
