{%extends 'base_admin.html'%}
{%load static%}
{%block body%}
{%if customer%}




<div class="customer">
    <div>Дата заказа:{{customer.order_date}}</div>
    <div>Имя:{{customer}}</div>
    <div>email:{{customer.Email}}</div>
    <div>Коментария:</div>
    <div>{{customer.Comment}}</div>
</div>
<div class='orders'>
    <div class="list-group-item active"><h5 class="text-center">Заказы</h5></div>
    {%for order in customer.order_set.all%}
    <div class="product__two">
        <div>
            <img src="{{order.album_set.all.0.photo.url}}" alt="" class="product__imgTwo">
            <div >
                <p >{{order.descriptions}}</p>
                <p class="price__old">{{order.price}} ₽</p>
            </div>
        </div>
    </div>
    {%endfor%}
    <a href="{%url 'deleteCustomer' customer.id%}">удалить</a>
    {%endif%}

</div>
<script src="{%static 'js/slick.min.js'%}"></script>
<script src="{%static 'js/index.js'%}"></script>
{%endblock%}
