{%extends 'base_admin.html'%}
{%load static%}
{%block body%}
{%if products%}
{%for product in products%}
<div class="container-fluid">

    <div class="d-block p-2 bg-dark text-white">
        <div class="container-fluid">
            <a href="{%url 'detailProduct' product.id%}">
                <span class="d-block p-2 bg-primary text-white">{{product.title}}</span>{{product.title}}
                <div class="bestseller__cost">
                    <p class="bestseller__price">{{product.price}}₽</p>
                </div>
            </a>
        </div>
    </div>
    <span  class="d-block p-2 text-white" ></span>

</div>
{%endfor%}
{%else%}
<h3>пока нет продуктов</h3>
{%endif%}
<style>


</style>
{%endblock%}
