{%extends 'base_admin.html'%}
{%load static%}
{%block body%}
{%if products%}
{%for product in products%}
<div class="container-fluid">
    <a href="{%url 'detailProduct' product.id%}">
    <img src="{{product.photo.url}}" alt="" class="bestseller__img" height="150" width = '150'>
    <p class="bestseller__title">{{product.title}}</p>
    <p class="bestseller__text">{{product.description}}</p>
    <div class="bestseller__cost">
        <p class="bestseller__price">{{product.price}}₽</p>
        <a href="{%url 'delete' product.id%}">
            <button class="plus">удалить</button>
        </a>
    </div>
</a>
</div>
{%endfor%}
{%else%}
<h3>пока нет продуктов</h3>
{%endif%}
{%endblock%}
