{%extends 'base.html'%}
{%load static %}
{%block body%}
<div class="popup__content">
    <div class="popup__block">
        <div class="popup__slider">
            <div class="popup__sidebar">
                <img src="images/view.png" alt="" class="popup__img">
                <div class="slide__popup">
                    <div class="slide__popup-block">
                        <img src="images/slidePopupOne.png" alt="" class="slide__popup-img">
                    </div>
                    <div class="slide__popup-block">
                        <img src="images/slidePopupTwo.png" alt="" class="slide__popup-img">
                    </div>
                    <div class="slide__popup-block">
                        <img src="images/slidePopupThree.png" alt="" class="slide__popup-img">
                    </div>
                    <div class="slide__popup-block">
                        <img src="images/slidePopupFour.png" alt="" class="slide__popup-img">
                    </div>
                    <div class="slide__popup-block">
                        <img src="images/slidePopupOne.png" alt="" class="slide__popup-img">
                    </div>
                    <div class="slide__popup-block">
                        <img src="images/slidePopupOne.png" alt="" class="slide__popup-img">
                    </div>
                    <div class="slide__popup-block">
                        <img src="images/slidePopupOne.png" alt="" class="slide__popup-img">
                    </div>

                </div>
            </div>
            <div class="feature">
                <p class="popup__feature">HUAWEI WiFi WS5200</p>
                <p class=" popup__text-modem">Преимущественный выбор устройств с поддержкой Wi-Fi 5 ГГц</p>
                <p class="feature__title">
                    Основные характеристики
                </p>
                <div class="featue__block">
                    <div class="feature__feature">
                        <p class="feature__text">Размер ....................................</p>
                        <p class="about__feature">205 мм x 120 мм x 36,8 мм</p>
                    </div>
                    <div class="feature__feature">
                        <p class="feature__text">Интерфейсы .................................</p>
                        <p class="about__feature">WAN: Один порт Ethernet 10 / 100 / 1 000 Мбит/с
                            LAN: Четыре порта Ethernet 10 / 100 / 1 000 Мбит/с</p>
                    </div>
                    <div class="feature__feature">
                        <p class="feature__text">Безопасность .................................</p>
                        <p class="about__feature">Anti-brute force algorithms,
                            WPA-PSK / WPA2-PSK Wi-Fi encryption, firewall, DMZ, PAP /
                            CHAP, DoS attack protection</p>
                    </div>
                    <div class="avail__feature">
                        <div class="avail">
                            <div class="avail__img"></div>
                            <img src="images/PolygonFeature.png" alt="" class="avail__imgPolygon">
                        </div>
                        <div class="stock__block">
                            <p class="stock">
                                В наличии:
                            </p>
                            <p class="stock__colour">
                                белый
                            </p>
                        </div>
                    </div>
                    <div class="price__feature">
                        <p class="price__feature-title">
                            Цена:
                        </p>
                        <p class="price__feature-cost">
                            2 990 ₽
                        </p>
                        <div class="on__trash">
                            <a href="#" class="onTrash">
                                Добавить в корзину
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="recommend">
        <p class="router__title-block">Рекомендуемые товары</p>
        <div class="slideBar ">
            <div class="best__product">
                <img src="images/ModemFirst.png" alt="" class="bestseller__img">
                <p class="product__price">
                    3 090 ₽
                </p>
                <p class="about__product">
                    4G LTE модем HUAWEI E3372h-153
                </p>
            </div>
            <div class="best__product">
                <img src="images/ModemSecond.png" alt="" class="bestseller__img">
                <p class="product__price">
                    3 090 ₽
                </p>
                <p class="about__product">
                    4G LTE модем HUAWEI E3372h-153
                </p>
            </div>
            <div class="best__product">
                <img src="images/ModemThird.png" alt="" class="bestseller__img">
                <p class="product__price">
                    3 090 ₽
                </p>
                <p class="about__product">
                    4G LTE модем HUAWEI E3372h-153
                </p>
            </div>
            <div class="best__product">
                <img src="images/modemFour.png" alt="" class="bestseller__img">
                <p class="product__price">
                    3 090 ₽
                </p>
                <p class="about__product">
                    4G LTE модем HUAWEI E3372h-153
                </p>
            </div>
            <div class="best__product">
                <img src="images/ModemFirst.png" alt="" class="bestseller__img">
                <p class="product__price">
                    3 090 ₽
                </p>
                <p class="about__product">
                    4G LTE модем HUAWEI E3372h-153
                </p>
            </div>
            <div class="best__product">
                <img src="images/modemSecond.png" alt="" class="bestseller__img">
                <p class="product__price">
                    3 090 ₽
                </p>
                <p class="about__product">
                    4G LTE модем HUAWEI E3372h-153
                </p>
            </div>
            <div class="best__product">
                <img src="images/modemThird.png" alt="" class="bestseller__img">
                <p class="product__price">
                    3 090 ₽
                </p>
                <p class="about__product">
                    4G LTE модем HUAWEI E3372h-153
                </p>
            </div>
        </div>
    </div>
</div>
{%endblock%}
