{%extends 'base.html'%}
{%block body%}
<section class="about">
    <div class="container">
        <p class="about__title">
            О компании
        </p>
        <p class="about__text">
            На сегодняшний день мы занимаем ведущие позиции на
            рынке интернет услуг, предлагаем подключение ко всем
            видам проводного и беспроводного интернета (3G/4G LTE).
            Оборудование для усиления сигнала 3G и 4G интернета,
            антенное и другое сопутствующее оборудование. Wi-Fi (MiFi)
            роутеры, USB модемы и другое оборудование
        </p>
        <ul class="about__list">
            <div class="about__items">
                <div class="circle__about"></div>
                <li class="about__item">Оперативная обратная связь по телефону 0707 708 899</li>
            </div>
            <div class="about__items">
                <div class="circle__about circle"></div>
                <li class="about__item">Только сертифицированный товар от официальных
                    поставщиков. Гарантийное обслуживание
                </li>
            </div>
            <div class="about__items">
                <div class="circle__about "></div>
                <li class="about__item">Постоянные Акции, Скидки и Специальные предложения.</li>
            </div>
            <div class="about__items">
                <div class="circle__about"></div>
                <li class="about__item">Бесплатная доставка по Бишкеку</li>
            </div>
        </ul>
        <p class="about__bottom-text">
            Мы всегда рады общению с нашими Клиентами.
            Пишите нам, и мы с благодарностью примем
            ваше мнение во внимание: info@hetwok.kg
        </p>
    </div>
</section>
{%endblock%}
