{%extends 'base.html'%}
{%load static%}
{%block body%}
<form class="form" action="{%url 'form' %}" method="post">{% csrf_token %}
    <div class="container container__form">
        <h4 class="order__title form__title-text">
            Оформление заказа
        </h4>
        <div class="form__block">
            <div class="form__wrap">
                <div class="form__label">
                    <p class="form__title">ФИО:</p>
                    <input type="text" class="form__input" placeholder="Антон Турдубаев Константинович" name="full_name"
                           required>
                </div>
                <div class="form__label">
                    <p class="form__title">Телефон:</p>
                    <div class="form__input-country">
                        <input type="number" class="form__input" placeholder="+ 380 (**) *** - ** - **" name="phone"
                               required>
                    </div>
                </div>
            </div>

            <div class="form__wrap form__wrap-two">
                <div class="form__label">
                    <p class="form__title">Электронная почта:</p>
                    <input type="text" class="form__input" placeholder="Antonedkonts@gmail.com" name="email" required>
                </div>
                <div class="form__label">
                    <p class="form__title">Город доставки:</p>
                    <input type="text" class="form__input" placeholder="Украина" name="city" required>
                </div>
            </div>
        </div>
        <div class="comment">
            <p class="comment__title">
                Комментарий к заказу:
            </p>
            <input type="text" name="comment" class="comment__form" placeholder="Хотел заказать у вас роутер и модем">
        </div>
        <div class="consent" onclick="consent()">
            <img src="{%static 'images/check__mark-block.png'%}" alt="" class="check__mark">
            <img src="{%static 'images/tick.png'%}" alt="" class="tick" id="tick">
            <p class="consent__text">Я соглашаюсь с политикой конфиденциальности</p>
        </div>
        <div class="checkout__button form__link">
                <button class="onTrash checkout ">
                    Оставить заявку
                </button>
        </div>
    </div>
</form>

<div class="formalized" id="formalized">
    <div class="form__block">
        <a href="/" class="form__area"></a>
        <div class="form__body">
            <div class="form__content">
                <a href="/"><img src="{%static 'images/close__c.svg'%}" alt="*" class="form__close"></a>
                <p class="title__form">Ваша заявка оформлена!</p>
                <img src="{% static 'images/illustr.jpg' %}" alt="" class="illustr">
            </div>
        </div>
    </div>
</div>
{%endblock%}
