{%extends 'base.html'%}
{%load static%}
{%block body%}
<section class="order">
    <div class="container">

        <h4 class="order__title">
            Оформление заказа
        </h4>
        <div class="order__block">
            {%if product%}
            {%for prod in product%}
            <div class="order__wrap">
                <img src="{{prod.photo.url}}" alt="ORDER" class="order__img">
                <img src="{%static 'images/sale__two.png'%}" alt="" class="sale__imgTwo sale__img-order">
                <p class="sale__textTwo">-25%</p>
                <div class="quantity">
                    <p class="order__product-text">{{prod.title}}</p>
                    <div class="quantity__block">
                            <button data-action="{% url 'minusCount' prod.id%}" class="quantity__button minus-btn">
                                -
                            </button>
                        <span class='count'>{{ counts }}</span>

                            <button data-action="{% url 'addCount' prod.id%}" class="quantity__button plus-btn">
                                +
                            </button>
                    </div>
                    <p class="price__order">
                        {{prod.price}}
                    </p>
                </div>
            </div>
            {%endfor%}
            {%endif%}
            <div class="order__checkout">
                <div class="order__sale">
                    <p class="order__sale-sale">Скидка: 637 ₽</p>
                </div>
                <div class="total">
                    <p class="order__total-title">
                        Итого:
                    </p>
                    <p class="order__total-price">
                        4 457 ₽
                    </p>
                    <div class="checkout__button">
                        <a href="{%url 'form'%}" class="onTrash checkout">
                            Оформить заказ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}
