{%extends 'base.html'%}
{%load static %}
{%block body%}
<div class="popup__content">
    <div class="popup__block">
        <div class="popup__slider">
            <div class="popup__sidebar">
                <img src="{{product.photo.url}}" alt="" class="popup__img">
                <div class="slide__popup">
                    {%for album in product.album_set.all%}
                    <div class="slide__popup-block">
                        <img src="{{album.photo.url}}" alt="" class="slide__popup-img">
                    </div>
                    {%endfor%}

                </div>
            </div>
            <div class="feature">
                <p class="popup__feature">{{product.title}}</p>
                <p class=" popup__text-modem">{{product.description}}</p>
                <p class="feature__title">
                    Основные характеристики
                </p>
                <div class="featue__block">
                    <div class="feature__feature">
                        <p class="feature__text">Размер ....................................</p>
                        <p class="about__feature">{{product.size}}</p>
                    </div>
                    <div class="feature__feature">
                        <p class="feature__text">Интерфейсы .................................</p>
                        <p class="about__feature">{{product.interface}}</p>
                    </div>
                    <div class="feature__feature">
                        <p class="feature__text">Безопасность .................................</p>
                        <p class="about__feature">{{product.safety}}</p>
                    </div>
                    <div class="avail__feature">
                        <div class="avail">
                            <div class="avail__img"></div>
                            <img src="{%static 'images/PolygonFeature.png'%}" alt="" class="avail__imgPolygon">
                        </div>
                        <div class="stock__block">
                            <p class="stock">
                                В наличии:
                            </p>
                            <p class="stock__colour">
                                {{product.color}}
                            </p>
                        </div>
                    </div>
                    <div class="price__feature">
                        <p class="price__feature-title">
                            Цена:
                        </p>
                        <p class="price__feature-cost">
                            {{product.price}}₽
                        </p>
                        <div class="on__trash">
                            <a href="{%url 'addProductToBascet' product.id %}" class="onTrash">
                                Добавить в корзину
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="recommend">
        <p class="router__title-block">Рекомендуемые товары</p>
        <div class="slideBar ">
            {%for rec in recoment%}
            <a href="{%url 'product' rec.id %}">
            <div class="best__product">
                <img src="{{rec.photo.url}}" alt="" class="bestseller__img">
                <p class="product__price">
                    {{rec.price}} ₽
                </p>
                <p class="about__product">
                    {{product.title}}
                </p>
            </div>
                </a>
            {%endfor%}
        </div>
    </div>
</div>
{%endblock%}
