{%extends 'base.html'%}
{%block body%}
<section class="routers">
    <div class="container">
        <h3 class="routers__title">
            {{catalog_set.title}}
        </h3>
        {% for category in catalog_set.category_set.all%}
        <div class="router__block">
            <p class="router__title-block">
                {%if category.product_set.all.count > 0%}
                {{category.category}}
                {%endif%}
            </p>
            {%for product in category.product_set.all%}
            <div class="slideBar slideBar__router">
                <div class="best__product">
                    <img src="{{product.album_set.all.0.photo.url}}" alt="" class="bestseller__img">
                    <p class="bestseller__title">{{product.title}}</p>
                    <p class="bestseller__text">{{product.description}}</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">{{product.price}} ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>

            </div>
            {%endfor%}
        </div>
        {%endfor%}
    </div>

</section>
{%endblock%}
