{%extends 'base.html'%}
{%block body%}
<section class="routers">
    <div class="container">
        <h3 class="routers__title">
            {{category.category}}
        </h3>
        {% for c in category.set_category.all%}
        <div class="router__block">
            <p class="router__title-block">
                {%if c.product.all.count > 0%}
                {{c.category}}
                {%endif%}
            </p>

            <div class="slideBar slideBar__router">
                {%for product in c.product.all%}
                <div class="best__product">
                    <a href="#popup" class="view" data-id = "{{product.id}}" >
                    <img src="{{product.album_set.all.0.photo.url}}" alt="" class="bestseller__img">
                    </a>
                    <p class="bestseller__title">{{product.title}}</p>
                    <p class="bestseller__text">{{product.description}}</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">{{product.price}} ₽</p>
                        {%if product.id in in_basket%}
                        <button class="plus">&#10003</button>
                        {%else%}
                        <a class="addToCard" href="{% url 'addProductToBascet' product.id%}">
                            <button class="plus">+</button>
                        </a>
                        {%endif%}
                    </div>
                </div>
                {%endfor%}
            </div>

        </div>
        {%endfor%}

    </div>
</section>
<script>
        $(document).ready(function(){
    $('a.addToCard').click(function(event){
event.preventDefault()
var url = $(this).attr('href')
var iconPlus = $(this).find('.plus')
$.get(url,function(data){
if(data.status === 200){
iconPlus.html('	&#10003;')
}
})
})
    })


</script>
{%endblock%}
