{%extends 'base.html'%}
{%block body%}
<section class="routers">
    <div class="container">
        <h3 class="routers__title">
            {{catalog_set.title}}
        </h3>
        {% for catal in catalog_set.%}
        <div class="router__block">
            <p class="router__title-block">
                Usb dongle
            </p>
            <div class="slideBar slideBar__router">
                <div class="best__product">
                    <img src="images/ModemFirst.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">Гигабитный WiFi
                        роутер стандарта
                        AC1200 для беспроводных сетей</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">925 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/ModemSecond.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi AX3 (Quad-core)</p>
                    <p class="bestseller__text">Преимущественный выбор устройств с
                        поддержкой Wi-Fi 5 ГГц</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">2200 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/ModemThird.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WS318N-21</p>
                    <p class="bestseller__text">Внешние антенны с
                        коэффициентом усиления 5 дБи
                    </p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">1300 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/modemFour.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">0E8372</p>
                    <p class="bestseller__text">Гигабитный WiFi
                        роутер стандарта
                        AC1200 для беспроводных сетей</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">700 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/ModemFirst.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">4G Wi-Fi модем, Wi-Fi 2,4 G</p>
                    <div class="bestseller__cost bestOne">
                        <p class="bestseller__price">925 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/modemSecond.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">Преимущественный выбор устройств с поддержкой Wi-Fi 5 ГГц</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">1300 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/modemThird.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">4G Wi-Fi модем, Wi-Fi 2,4 G</p>
                    <div class="bestseller__cost bestOne">
                        <p class="bestseller__price ">700 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="router__block router__blockTwo">
            <p class="router__title-block">
                Кабельные модемы и маршрутизаторы
            </p>
            <div class="slideBar ">
                <div class="best__product">
                    <img src="images/ModemFirst.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">Гигабитный WiFi
                        роутер стандарта
                        AC1200 для беспроводных сетей</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">925 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/ModemSecond.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi AX3 (Quad-core)</p>
                    <p class="bestseller__text">Преимущественный выбор устройств с
                        поддержкой Wi-Fi 5 ГГц</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">2200 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/ModemThird.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WS318N-21</p>
                    <p class="bestseller__text">Внешние антенны с
                        коэффициентом усиления 5 дБи
                    </p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">1300 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/modemFour.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">0E8372</p>
                    <p class="bestseller__text">Гигабитный WiFi
                        роутер стандарта
                        AC1200 для беспроводных сетей</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">700 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/ModemFirst.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">4G Wi-Fi модем, Wi-Fi 2,4 G</p>
                    <div class="bestseller__cost bestOne">
                        <p class="bestseller__price">925 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/modemSecond.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">Преимущественный выбор устройств с поддержкой Wi-Fi 5 ГГц</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">1300 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/modemThird.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">4G Wi-Fi модем, Wi-Fi 2,4 G</p>
                    <div class="bestseller__cost bestOne">
                        <p class="bestseller__price ">700 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="router__block router__blockTwo">
            <p class="router__title-block">
                MiFi
            </p>
            <div class="slideBar ">
                <div class="best__product">
                    <img src="images/ModemFirst.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">Гигабитный WiFi
                        роутер стандарта
                        AC1200 для беспроводных сетей</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">925 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/ModemSecond.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi AX3 (Quad-core)</p>
                    <p class="bestseller__text">Преимущественный выбор устройств с
                        поддержкой Wi-Fi 5 ГГц</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">2200 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/ModemThird.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WS318N-21</p>
                    <p class="bestseller__text">Внешние антенны с
                        коэффициентом усиления 5 дБи
                    </p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">1300 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/modemFour.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">0E8372</p>
                    <p class="bestseller__text">Гигабитный WiFi
                        роутер стандарта
                        AC1200 для беспроводных сетей</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">700 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/ModemFirst.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">4G Wi-Fi модем, Wi-Fi 2,4 G</p>
                    <div class="bestseller__cost bestOne">
                        <p class="bestseller__price">925 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/modemSecond.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">Преимущественный выбор устройств с поддержкой Wi-Fi 5 ГГц</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">1300 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/modemThird.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">4G Wi-Fi модем, Wi-Fi 2,4 G</p>
                    <div class="bestseller__cost bestOne">
                        <p class="bestseller__price ">700 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="router__block router__blockTwo">
            <p class="router__title-block">
                MiFi
            </p>
            <div class="slideBar ">
                <div class="best__product">
                    <img src="images/ModemFirst.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">Гигабитный WiFi
                        роутер стандарта
                        AC1200 для беспроводных сетей</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">925 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/ModemSecond.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi AX3 (Quad-core)</p>
                    <p class="bestseller__text">Преимущественный выбор устройств с
                        поддержкой Wi-Fi 5 ГГц</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">2200 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/ModemThird.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WS318N-21</p>
                    <p class="bestseller__text">Внешние антенны с
                        коэффициентом усиления 5 дБи
                    </p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">1300 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/modemFour.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">0E8372</p>
                    <p class="bestseller__text">Гигабитный WiFi
                        роутер стандарта
                        AC1200 для беспроводных сетей</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">700 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/ModemFirst.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">4G Wi-Fi модем, Wi-Fi 2,4 G</p>
                    <div class="bestseller__cost bestOne">
                        <p class="bestseller__price">925 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/modemSecond.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">Преимущественный выбор устройств с поддержкой Wi-Fi 5 ГГц</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">1300 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/modemThird.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">4G Wi-Fi модем, Wi-Fi 2,4 G</p>
                    <div class="bestseller__cost bestOne">
                        <p class="bestseller__price ">700 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="router__block router__blockTwo">
            <p class="router__title-block">
                MiFi
            </p>
            <div class="slideBar ">
                <div class="best__product">
                    <img src="images/ModemFirst.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">Гигабитный WiFi
                        роутер стандарта
                        AC1200 для беспроводных сетей</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">925 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/ModemSecond.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi AX3 (Quad-core)</p>
                    <p class="bestseller__text">Преимущественный выбор устройств с
                        поддержкой Wi-Fi 5 ГГц</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">2200 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/ModemThird.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WS318N-21</p>
                    <p class="bestseller__text">Внешние антенны с
                        коэффициентом усиления 5 дБи
                    </p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">1300 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/modemFour.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">0E8372</p>
                    <p class="bestseller__text">Гигабитный WiFi
                        роутер стандарта
                        AC1200 для беспроводных сетей</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">700 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/ModemFirst.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">4G Wi-Fi модем, Wi-Fi 2,4 G</p>
                    <div class="bestseller__cost bestOne">
                        <p class="bestseller__price">925 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/modemSecond.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">Преимущественный выбор устройств с поддержкой Wi-Fi 5 ГГц</p>
                    <div class="bestseller__cost">
                        <p class="bestseller__price">1300 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
                <div class="best__product">
                    <img src="images/modemThird.png" alt="" class="bestseller__img">
                    <p class="bestseller__title">HUAWEI WiFi WS5200</p>
                    <p class="bestseller__text">4G Wi-Fi модем, Wi-Fi 2,4 G</p>
                    <div class="bestseller__cost bestOne">
                        <p class="bestseller__price ">700 ₽</p>
                        <button class="plus">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{%endblock%}
